.most-searched h2 {
  font-size: 3rem; /* Título más grande */
  text-align: center;
  margin-bottom: 20px;
}

.car-list {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  flex-wrap: wrap; /* Permite que los elementos se vayan a la siguiente línea si es necesario */
}

.car-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 20px; /* Espacio entre los nombres */
  text-align: center;
}

/* Nueva clase para agregar espaciado al final de la sección para tener separacion con el footer que esta abajo*/
.most-searched-cars-section {
  margin-bottom: 80px; /* Ajusta el valor según lo que necesites */
}
