body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Color de fondo general */
}

.contenedor-resultados {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que cubra toda la pantalla */
  max-height: 2.5rem;
  margin-top: 30vh;
}

.NavBar {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  text-align: center;
}

.filtros {
  position: fixed;
  top: 8vw;
  left: 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 250px;
  height: calc(100vh - 8vw); /* Asegura que no sobrepase la pantalla */
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.filtros h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.filtro-año,
.filtro-precio {
  margin-bottom: 20px;
}

.filtro-año label,
.filtro-precio label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
  margin: 5px 0;
}

select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.botonAplicar,
.botonRestablecer {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #2c3e50;
  color: white;
  cursor: pointer;
  text-align: center;
}

.botonAplicar:hover,
.botonRestablecer:hover {
  background-color: #1a252f;
}

.resultados {
  display: flex;
  flex-direction: column;
  margin-left: 270px; /* Deja espacio para los filtros */
  padding: 20px;
}

.lista-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.producto {
  width: calc(30% - 20px);
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagen-producto {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 10vw;
  border-radius: 8px;
  cursor: pointer;
}

.wishlist-boton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wishlist-boton img {
  width: 2vw;
  height: auto;
}

.producto h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.producto p {
  margin: 5px 0;
  font-size: 0.9em;
}

.noResultados {
  font-size: 1.2em;
  color: #999;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: white;
}
