/* Aseguramos que el contenedor ocupe toda la pantalla */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
  }
  
  /* Ajuste del contenedor de login */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Cubre toda la altura de la ventana */
    width: 100vw;  /* Cubre todo el ancho de la ventana */
    background-color: #f0f2f5;
  }
  
  /* Formulario */
  .login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%; /* Asegura que se respete el tamaño máximo */
    text-align: center; /* Alinea todo el contenido del formulario al centro */
  }
  
  /* Estilo del título del formulario */
  .login-form h2 {
    font-size: 3rem; /* Aumentamos el tamaño del título */
    margin-bottom: 30px; /* Mayor separación del resto */
    color: #333;
    text-align: center; /* Centramos el título */
  }
  
  /* Estilos para los grupos de input */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555; /* color de titulo de campos*/
    font-size: 1.2rem; /* Aumentamos el tamaño de las etiquetas */
    text-align: left; /* Opcional: las etiquetas de los inputs alineadas a la izquierda */
  }
  
  .form-group input {
    width: 100%;
    padding: 12px; /* Aumentamos el tamaño del padding */
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1.2rem; /* Aumentamos el tamaño de la fuente de los inputs */
  }
  
  .ingresar {
    width: 100%;
    padding: 18px; /* Tamaño del botón */
    background-color: #1e90ff; /* Color del botón */
    color: rgb(255, 255, 255); /* Color del texto de Ingresar */
    border: none;
    margin-bottom: 15px; /* Separación entre los botones */
    border-radius: 8px;
    font-size: 1.5rem; /* Tamaño de la fuente del botón */
    cursor: pointer;
    transition: background-color 0.3s;
}

.ingresar:hover {
    background-color: #1c86e3; /* Color en hover */
}

/* Estilos para el botón Registrarse */
.registrarse {
    width: 100%;
    padding: 12px; /* Tamaño del botón más pequeño */
    background-color: #87cefa; /* Color sutilmente diferente */
    color: rgb(255, 255, 255); /* Color del texto de Registrarse */
    border: none;
    margin-bottom: 15px; /* Separación entre los botones */
    border-radius: 8px;
    font-size: 1.2rem; /* Tamaño de la fuente más pequeño */
    cursor: pointer;
    transition: background-color 0.3s;
}

.registrarse:hover {
    background-color: #7ec0df; /* Color en hover */
}